.titre-ansible-detail {
    font-size: 24px;
}
.element-ansible-detail-ok {
    padding-left: 15px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}
.element-ansible-detail-ko {
    padding-left: 15px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    color: red;    
}
.menu__icon {
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    
}
.config {
    padding-left: 15px;
    padding-top: 1px;
    padding-right: 5px;
    padding-bottom: 1px;
}

.td_margin_blanc {
    padding-left: 10px;
    color: white;
}

.td_margin_vert {
    padding-left: 10px;
    //color: white;
}
.td_margin_titre {
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-weight: bold;
}


